<div class="container">
    <h2>Tu perfil</h2>
    <h4>(sin datos sensibles)</h4>
    <p>Nombre completo: {{user.first_name}} {{user.last_name}}</p>
    <p>E-mail: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
</div>

<script src='js/logout.js'></script>